.slider{
    display: inline-block;
    margin-left: 100px;
}

.controlPanel{
	padding: 50px;
	margin-left: 15px;
    display: inline-block;
    background: linear-gradient(#FF6A6A, #473C8B);
    color: white;
}

