.slider__wraper{
  margin-top: 50px;
}

.slider{
  display: inline-block;  
  margin-left: 100px;
}

.controlPanel{
  display: inline-block;  
  padding: 50px;
  margin-left: 15px;
  background: linear-gradient(#FF6A6A, #473C8B);
  color: white;
 
   input{
       margin-left: 5px;
       height:25px;
       border: none;
       text-align: center;
       background: transparent;
       border-bottom: 2px solid black;
       font-size: 13px;
       &:focus{
           outline: none;
       }
   }
   
 
}

@media (max-width: 1130px) {
  .slider_horizontal{
    margin-left: 15px;
    margin-top: 100px;
  }
  .slider_vertical{
    margin-top: 100px;
  }
  .controlPanel{
   width: 850px;
    p {
      display: inline-block;
      margin-left: 50px;
   
    }

    input{
      display: inline-block; 
    }
  }
}
@media (max-width: 900px) {
  .controlPanel{
    width:470px;
  }
}


