$themeColor: #473C8B;
$labelColor:#FF6A6A;

.slider{
  height: 4px;
  width:600px;

    &.slider_vertical{
	  height: 300px;
	  width:4px;
	}
}


.sliderBody{
	height: 100%;
	width: 100%;
	background: #cfcfcf;;
	border-radius: 4px;
	position: relative;
	box-sizing: border-box;

}

.label{
	padding: 2px;
	background: $themeColor;
	color: white;
	font-size: 12px;
	text-align: center;
	position: absolute;
}

.handler{
	border-radius: 50%;
	background: $labelColor;
	width:16px;
	height: 16px;
	position: absolute;
	cursor:pointer;
	z-index: 10;
}

.slider_vertical .handler{
	left: -6px !important;
  }

.slider_horizontal .handler{
	top: -6px !important;
}

.selectedRange, .range_between{
	position: absolute;
	background: $themeColor;
}

.slider_horizontal .range_between{
	bottom: 0 !important;
	height: 100% !important;
}

.slider_vertical .range_between{
    left: 0 !important;
	width: 100% !important;
}

.slider_horizontal .selectedRange{
	top: 0 !important;
    left: 0 !important;
	height: 100% !important;
}
.slider_vertical .selectedRange{
	left: 0 !important;
	width: 100% !important;
	bottom: 0 !important;
}

